Repository novalramdhani/Miolica, pull requests merged in 2022-03, with the labels that each got.

#7 Update frontend
  frontend/.eslintrc.json
  frontend/package.json
  frontend/src/app/store.ts
  frontend/src/assets/img/hero-image-1.jpg
  frontend/src/assets/img/hero-image-2.jpg
  frontend/src/assets/img/hero-image-3.jpg
  frontend/src/assets/index.ts
  frontend/src/assets/styles/_animations.scss
  frontend/src/assets/styles/_base.scss
  frontend/src/assets/styles/_variables.scss
  frontend/src/assets/styles/components/_button.scss
  frontend/src/assets/styles/components/_index.scss
  frontend/src/assets/styles/components/_input.scss
  frontend/src/assets/styles/components/_navbar.scss
  frontend/src/assets/styles/components/_popup.scss
  frontend/src/assets/styles/components/_tooltip.scss
  frontend/src/assets/styles/index.scss
  frontend/src/assets/styles/utils/_background.scss
  frontend/src/assets/styles/utils/_breakpoints.scss
  frontend/src/assets/styles/utils/_index.scss
  frontend/src/assets/styles/utils/_position.scss
  frontend/src/components/navbar/navbar-menu.tsx
  frontend/src/components/navbar/navbar.tsx
  frontend/src/components/router.tsx
  frontend/src/pages/landing.tsx
  frontend/src/services/base-services.ts
  frontend/src/services/index.ts
  frontend/src/services/test-api.ts
Labels: bug, update

#8 Update frontend
  frontend/.eslintrc.json
  frontend/src/app/index.ts
  frontend/src/app/route-config.ts
  frontend/src/app/store.ts
  frontend/src/app/types.ts
  frontend/src/assets/icons/ic-chevron-left.svg
  frontend/src/assets/icons/ic-chevron-right.svg
  frontend/src/assets/img/product-example.jpg
  frontend/src/assets/index.ts
  frontend/src/assets/styles/_animations.scss
  frontend/src/assets/styles/index.scss
  frontend/src/components/card/index.ts
  frontend/src/components/card/product-card.tsx
  frontend/src/components/navbar/navbar.tsx
  frontend/src/components/router.tsx
  frontend/src/hooks/index.ts
  frontend/src/hooks/useCursor.ts
  frontend/src/hooks/useSlider.ts
  frontend/src/pages/landing.tsx
  frontend/src/services/base-services.ts
  frontend/src/services/index.ts
  frontend/src/services/test-api.ts
  frontend/tsconfig.json
Labels: update, frontend

#13 Update frontend
  frontend/package.json
  frontend/src/assets/img/product-category-men.png
  frontend/src/assets/img/product-category-women.png
  frontend/src/assets/index.ts
  frontend/src/assets/styles/root.scss
  frontend/src/components/card/product-card.tsx
  frontend/src/components/router.tsx
  frontend/src/hooks/useCursor.ts
  frontend/src/hooks/useSlider.ts
  frontend/src/index.tsx
  frontend/src/pages/landing.tsx
  frontend/src/utils/fetch-api.ts
  frontend/src/utils/index.ts
  frontend/tailwind.config.js
Labels: update, frontend

#14 Update
  README.md
  frontend/package.json
  frontend/postcss.config.js
Labels: update, frontend

#15 adding new workflows
  .github/SECURITY.md
  .github/workflows/pull-requests.yml
  .github/workflows/static-analysis.yml
Labels: documentation, enhancement, update

#16 Adding JSON API
  backend/app/Exceptions/Handler.php
  backend/composer.json
  backend/config/jsonapi.php
Labels: update, backend

#17 New package in backend
  backend/composer.json
  backend/config/app.php
  backend/config/image.php
Labels: update, backend, laravel, security
